.header{color:white;text-align: center;background-color: rgb(84, 81, 81);border-radius: 5px;}
.border{margin: 20px 30%;padding: 10px 5px 5px 10px;border-radius: 12px;background-color:rgb(236, 232, 232);}
.holder{padding: 5px 8px;border-radius: 5px;border: 2px solid black;}